{{#paper-toolbar class="toolbar"}}
	{{#if session.isAuthenticated}}
		{{#paper-button class="toolbar-options" signup=false action=(action "logout") }}
		LOGOUT
		{{/paper-button}}
	{{else}}
		{{#paper-button class="toolbar-options" signup=false}}
			{{#link-to 'login'}}
				LOGIN
			{{/link-to}}
		{{/paper-button}}
	{{/if}}
{{/paper-toolbar}}

{{outlet}}
<div class="footer" style="
    position: fixed;
    bottom: 0px;
    background: black;
    width: 100%;
    z-index:1000;
    height: 60px;
    background: url('images/footer_bg.png');
"></div>
